00_Data/
.DS_Store
02_Data_Ingestion/messages_v2.json
02_Data_Ingestion/messages.json
02_Data_Ingestion/thread-users.json
02_Data_Ingestion/threads.json
02_Data_Ingestion/user-threads.json
02_Data_Ingestion/users.json
02_Data_Ingestion/.ipynb_checkpoints/
03_Basic_NLG/.ipynb_checkpoints/
99_Code_Resources/.ipynb_checkpoints/
05_RRM/vectorstores
05_RRM/vector_database
05_RRM/gs:
05_RRM/chroma